body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#page{
	width:960px;
	background-color:#f5f5f5;
	/* border: 2px solid #0000FF;
	 */margin-left: auto;
	margin-right: auto;
}
#logo{
	width:100%;
	height:100px;
	background-color:#96dbfc;
}

#Navigation{
	widht:100%;
	height:35px;
	margin-top: 0px;
	color:#FFF;
	font-weight:bold;
	font-family: "ו";	
	background:-webkit-linear-gradient(#5cc1dc 30%,#058aba);
	-moz-border-radius: 8px 8px 0px 0px;      /* Gecko browsers */
    -webkit-border-radius: 8px 8px 0px 0px;   /* Webkit browsers */
    border-radius:8px 8px 0px 0px;            /* W3C syntax */
}
#Navigation ul{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 10px;
}
#Navigation ul li{
	width:100px;
	list-style-type:none;
	float:left;
	line-height:28px;
	margin:5px 5px 0px 5px;
	display:block;
	text-align:center;
	
	-moz-border-radius: 7px 7px 0px 0px;      /* Gecko browsers */
    -webkit-border-radius: 7px 7px 0px 0px;   /* Webkit browsers */
    border-radius:7px 7px 0px 0px;            /* W3C syntax */
}
#LogUser{
	width:20%;
	height:35px;
	font-weight:bold;
	float:left;
}
.liblue{
	background:blue;
}
.lired{
	background:#dedede;
	color: #058aba;
	
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
#path{
	width:100%;
	height:3px;
	background-color:#dedede;
	
	font-size:18px
}
#View{
	width:100%;
	height:auto;
}